/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background: #4d194d;;
	color: white;
	font-size: 13px;
	padding: 20px;
	font-family: 'Indie Flower', cursive;
}

.col-sm-6{
	background-color: #df9fdf;
}
.list-group{
	background-color: #ffccf2;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 60px;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item { height: 400px; }

#slide1 {
	background: url('../../images/carousel_medium1.jpg') top center no-repeat;
}

#slide2 {
	background: url('../../images/carousel_medium2.jpg') top center no-repeat;
}

#slide3 {
	background: url('../../images/carousel_medium3.jpg') top center no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
	margin-top: 20px;
	display: none;
}

.well {
	margin: 20px 0;
	background-color: #df9fdf;
}

.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.panel{
	background-color: #df9fdf;
}
.panel-heading{
	background-color: #4d194d;
	color: white;
}
.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
	background-color: #df9fdf;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price {
	font-size: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
#callusButton
{
	visibility: hidden;
}
	.thumbnail .price {
		font-size: 14px;
	}

	.thumbnail .price sup {
		font-size: 10px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

	#myCarousel .item { height: 310px; }

	#slide1 {
		background: url('../../images/carousel_small1.jpg') top center no-repeat;
	}

	#slide2 {
		background: url('../../images/carousel_small2.jpg') top center no-repeat;
	}

	#slide3 {
		background: url('../../images/carousel_small3.jpg') top center no-repeat;
	}

	.carousel-caption {
		font-size: 16px;
	}

	.carousel-caption h4 {
		font-size: 22px;
	}

}

/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item { height: 500px; }

	#slide1 {
		background: url('../../images/carousel_large1.jpg') top center no-repeat;
	}

	#slide2 {
		background: url('../../images/carousel_large2.jpg') top center no-repeat;
	}

	#slide3 {
		background: url('../../images/carousel_large3.jpg') top center no-repeat;
	}

}
